<script type="text/ng-template" id="admin.html">

    <div ui-view>
        <h2>Clickberry Administration Portal</h2>
    </div>

</script>

@Html.Partial("_Videos")
@Html.Partial("_Users")
@Html.Partial("_Clients")