
<script type="text/ng-template" id="admin.user.change-password.html">

    <h2>Change {{user.userName}} password</h2>

    <p>&nbsp;</p>

    <div class="spinner" ng-show="isLoading"></div>

    <form name="changePassForm" ng-submit="submitChangePass(changePassForm)" novalidate>

        <p>
            <label>
                <b>Password</b>: <input type="password" name="userPassword" ng-model="user.password" required ng-minlength="6" ng-maxlength="100">

                <span class="input-validation-error2" ng-show="changePassForm.userPassword.$error.required">Required!</span>
                <span class="input-validation-error2" ng-show="changePassForm.userPassword.$error.minlength">Too short!</span>
                <span class="input-validation-error2" ng-show="changePassForm.userPassword.$error.maxlength">Too long!</span>

            </label>
        </p>

        <p>
            <button type="submit">Set password</button>
        </p>

    </form>

</script>