@using Portal.Resources.Web
@{
    ViewBag.Title = InterfaceMessages.AuthenticationFailed;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- fix-content -->
<div class="fix-content">
    <!-- registration-field -->
    <div class="registration-field count-wrap">
        <h1>@ViewBag.Title</h1>
        <p>Permission to access the profile information has been declined.</p>
    </div>
    <!-- registration-field end -->
</div>
<!-- fix-content end -->
