@using Portal.Resources.Web
@model dynamic

<div class="not_uploaded_yet">
    <img src="~/Cdn/images/cloud-uploading.png" alt="@InterfaceMessages.VideoNotUploaded" />
    <p>&nbsp;&nbsp;</p>        
    <h3>@InterfaceMessages.VideoNotUploaded</h3> 
</div>