@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="fix-content">
    <h1>Sorry, an error occurred while processing your request.</h1>
</div>
