<ul class="social-share">
    <li class="facebook"></li>
    <li class="google-plus"></li>
    <li class="twitter"></li>
    <li class="livejournal"></li>
    <li class="blogger"></li>
    <li class="vk"></li>
    <li class="pinterest"></li>
    <li class="linkedin"></li>
    <li class="email"></li>
</ul>