@{
    ViewBag.Title = "400 - Bad request.";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="fix-content">
    <h1>@ViewBag.Title</h1>
    <p>The request could not be processed by the server due to invalid data.</p>
</div>
