@{
    ViewBag.Title = "404 - This page does not exist";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="fix-content">
    <h1>@ViewBag.Title</h1>
    <p>The page you are currently reading does not actually exist.</p>    
</div>
