@{
    ViewBag.Title = "500 - Internal server error";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="fix-content">
    <h1>@ViewBag.Title</h1>
    <p>There is a problem with the resource you are looking for, and it cannot be displayed.</p>
</div>
