<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0" />
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="SourcePath" value="C:\myVideosLow" />
    <!--value="\\Aananyev_pc\video"/>-->
    <add key="DestinationPath" value="D:\TestVideo" />
    <add key="TestVideo" value="C:\myVideos\IMG_0218.mov" />
    <add key="HangingVideo" value="C:\myVideos\HangingVideo.mov" />
    <!--<add key="TestVideo" value="http://clickstorage.blob.core.windows.net/videos/Daft%20Punk%20-%20One%20More%20Time%20(Radio%20Edit).mov"/>-->
    <add key="Period" value="10000" />
    <add key="FfmpegVersion" value="1.0.0" />
    <add key="TaskTypes" value="task/video, task/screenshot" />
    <add key="BackendId" value="00000000-0000-0000-0000-000000000003" />
    <!--<add key="DataConnectionString" value="UseDevelopmentStorage=true"/>-->
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=clickstorage;AccountKey=vSTVAxBAvO+nMtnKxN+FA2rDqUu4v4OSGRvOOaNGU9MJb/0aKP3jMEpyMTv4QV0TxWsFThgigi6ilTeu5C/z0w==" />
    <add key="BaseUrl" value="click.cloudapp.net:8080" />
    <add key="AuthenticationCookieName" value="cookieName" />
    <add key="AuthenticationCookieValue" value="cookieValue" />
    <add key="HeartbeatHubname" value="heartbeat" />
    <add key="DefaultBlobName" value="file" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>