/* @group Base */
.chzn-container {
    display: inline-block;
    *display: inline;
    font-size: 13px;
    position: relative;
    vertical-align: middle;
    zoom: 1;
}

.chzn-container .chzn-drop {
    -khtml-box-sizing: border-box;
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -webkit-box-sizing: border-box;
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    left: -9999px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1010;
}

.chzn-container.chzn-with-drop .chzn-drop { left: 0; }

/* @end */

/* @group Single Chosen */

.chzn-container-single .chzn-single {
    -moz-background-clip: padding;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444444;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    height: 23px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.chzn-container-single .chzn-default { color: #999; }

.chzn-container-single .chzn-single span {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chzn-container-single .chzn-single abbr {
    background: url('chosen-sprite.png') -42px 1px no-repeat;
    display: block;
    font-size: 1px;
    height: 12px;
    position: absolute;
    right: 26px;
    top: 6px;
    width: 12px;
}

.chzn-container-single .chzn-single abbr:hover { background-position: -42px -10px; }

.chzn-container-single.chzn-disabled .chzn-single abbr:hover { background-position: -42px -10px; }

.chzn-container-single .chzn-single div {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}

.chzn-container-single .chzn-single div b {
    background: url('chosen-sprite.png') no-repeat 0px 2px;
    display: block;
    height: 100%;
    width: 100%;
}

.chzn-container-single .chzn-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1010;
}

.chzn-container-single .chzn-search input {
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff url('chosen-sprite.png') no-repeat 100% -20px;
    background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    margin: 1px 0;
    outline: 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
}

.chzn-container-single .chzn-drop {
    -moz-background-clip: padding;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 0 0 4px 4px;
    background-clip: padding-box;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}

.chzn-container-single-nosearch .chzn-search {
    left: -9999px;
    position: absolute;
}

/* @end */

/* @group Multi Chosen */

.chzn-container-multi .chzn-choices {
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaa;
    box-sizing: border-box;
    cursor: text;
    height: auto !important;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.chzn-container-multi .chzn-choices li {
    float: left;
    list-style: none;
}

.chzn-container-multi .chzn-choices .search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.chzn-container-multi .chzn-choices .search-field input {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    margin: 1px 0;
    outline: 0;
    padding: 5px;
}

.chzn-container-multi .chzn-choices .search-field .default { color: #999; }

.chzn-container-multi .chzn-choices .search-choice {
    -moz-background-clip: padding;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}

.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    border: 1px solid #cccccc;
    color: #666;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
    padding-right: 5px;
}

.chzn-container-multi .chzn-choices .search-choice-focus { background: #d4d4d4; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background: url('chosen-sprite.png') -42px 1px no-repeat;
    display: block;
    font-size: 1px;
    height: 12px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover { background-position: -42px -10px; }

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close { background-position: -42px -10px; }

/* @end */

/* @group Results */

.chzn-container .chzn-results {
    -webkit-overflow-scrolling: touch;
    margin: 0 4px 4px 0;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: relative;
}

.chzn-container-multi .chzn-results {
    margin: 0;
    padding: 0;
}

.chzn-container .chzn-results li {
    display: none;
    line-height: 15px;
    list-style: none;
    margin: 0;
    padding: 5px 6px;
}

.chzn-container .chzn-results .active-result {
    cursor: pointer;
    display: list-item;
}

.chzn-container .chzn-results .highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
}

.chzn-container .chzn-results li em {
    background: #feffde;
    font-style: normal;
}

.chzn-container .chzn-results .highlighted em { background: transparent; }

.chzn-container .chzn-results .no-results {
    background: #f4f4f4;
    display: list-item;
}

.chzn-container .chzn-results .group-result {
    color: #999;
    cursor: default;
    font-weight: bold;
}

.chzn-container .chzn-results .group-option { padding-left: 15px; }

.chzn-container-multi .chzn-drop .result-selected { display: none; }

.chzn-container .chzn-results-scroll {
    background: white;
    margin: 0 4px;
    position: absolute;
    text-align: center;
    width: 321px; /* This should by dynamic with js */
    z-index: 1;
}

.chzn-container .chzn-results-scroll span {
    display: inline-block;
    height: 17px;
    text-indent: -5000px;
    width: 9px;
}

.chzn-container .chzn-results-scroll-down { bottom: 0; }

.chzn-container .chzn-results-scroll-down span { background: url('chosen-sprite.png') no-repeat -4px -3px; }

.chzn-container .chzn-results-scroll-up span { background: url('chosen-sprite.png') no-repeat -22px -3px; }

/* @end */

/* @group Active  */

.chzn-container-active .chzn-single {
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.chzn-container-active.chzn-with-drop .chzn-single {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    border: 1px solid #aaa;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 0 #fff inset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}

.chzn-container-active.chzn-with-drop .chzn-single div {
    background: transparent;
    border-left: none;
}

.chzn-container-active.chzn-with-drop .chzn-single div b { background-position: -18px 2px; }

.chzn-container-active .chzn-choices {
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.chzn-container-active .chzn-choices .search-field input { color: #111 !important; }

/* @end */

/* @group Disabled Support */

.chzn-disabled {
    cursor: default;
    opacity: 0.5 !important;
}

.chzn-disabled .chzn-single { cursor: default; }

.chzn-disabled .chzn-choices .search-choice .search-choice-close { cursor: default; }

/* @group Right to Left */

.chzn-rtl { text-align: right; }

.chzn-rtl .chzn-single {
    overflow: visible;
    padding: 0 8px 0 0;
}

.chzn-rtl .chzn-single span {
    direction: rtl;
    margin-left: 26px;
    margin-right: 0;
}

.chzn-rtl .chzn-single div {
    left: 3px;
    right: auto;
}

.chzn-rtl .chzn-single abbr {
    left: 26px;
    right: auto;
}

.chzn-rtl .chzn-choices .search-field input { direction: rtl; }

.chzn-rtl .chzn-choices li { float: right; }

.chzn-rtl .chzn-choices .search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}

.chzn-rtl .chzn-choices .search-choice .search-choice-close {
    left: 4px;
    right: auto;
}

.chzn-rtl .chzn-search { left: 9999px; }

.chzn-rtl.chzn-with-drop .chzn-search { left: 0px; }

.chzn-rtl .chzn-drop { left: 9999px; }

.chzn-rtl.chzn-container-single .chzn-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

.chzn-rtl .chzn-results .group-option {
    padding-left: 0;
    padding-right: 15px;
}

.chzn-rtl.chzn-container-active.chzn-with-drop .chzn-single div { border-right: none; }

.chzn-rtl .chzn-search input {
    background: #fff url('chosen-sprite.png') no-repeat -30px -20px;
    background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    direction: rtl;
    padding: 4px 5px 4px 20px;
}

.chzn-container-single.chzn-rtl .chzn-single div b { background-position: 6px 2px; }

.chzn-container-single.chzn-rtl.chzn-with-drop .chzn-single div b { background-position: -12px 2px; }

/* @end */

/* @group Retina compatibility */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .chzn-rtl .chzn-search input, .chzn-container-single .chzn-single abbr, .chzn-container-single .chzn-single div b, .chzn-container-single .chzn-search input, .chzn-container-multi .chzn-choices .search-choice .search-choice-close, .chzn-container .chzn-results-scroll-down span, .chzn-container .chzn-results-scroll-up span {
        background-image: url('chosen-sprite@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: 52px 37px !important;
    }
}
/* @end */