@using Asp.Infrastructure.Extensions
@using Portal.Resources.Web
@{
    ViewBag.Title = InterfaceMessages.About;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="fix-content static">
    <h1 style="text-align: center"><span style="font-size: 55px; line-height: 60px;"><strong>Clickberry</strong> changes the game</span><br/> for the way we watch and share video</h1>
    <p>Clickberry allows viewers to share the very best pieces of video - whether it's top highlights, tagged friends, interesting things worth buying, or memorable moments. Curating and archiving the best video from around the web has never been easier. Clickberry is a delightful, new way to share the moments that move you. Highlight dramatic moments, interesting things & friends and quickly bring stories to the world's attention.</p>
    <p>Founded in 2011, we are based in Los Altos (California) and Moscow (Russia). Since 2011 we've grown from 4 people to 25 professionals united by the idea to disrupt the way people communicate with video.</p>
</div>