@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Clickberry Extension Permissions</title>
        <script type="text/javascript" src="@(ViewBag.ExtensionUri)intercom.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            function getCookie(name) {
                var nameEq = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEq) == 0) return c.substring(nameEq.length, c.length);
                }

                return null;
            }

            //sending message
            var intercom = Intercom.getInstance();
            intercom.emit('permission', { message: document.location.hash, cookie: getCookie('cbac') });
            //closing tab
            window.open('', '_parent', '');
            window.close();
        </script>
    </body>
</html>